*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'manrope', sans-serif;
    list-style: none;
    text-decoration: none;
}
 
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
}
.navmenu{
    display: flex;
    
}
.navmenu a{
    color: #b86948;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    transition: all .42s;
}
.navmenu a:hover{
    color: rgb(255, 68, 0);
}
#menu-icon{
    font-size: 35px;
    color: #b86948;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 0 14%;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(bg2.jpg);
    background-position: center;
    background-size: cover;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center; 
   gap: 2rem;
}
.text h5{
    color: #b86948;
    font-size: 1.25rem;
    font-weight: 600;
}
.text h1{
    font-size: 3.70rem;
    color: #ebf0ff;
    font-weight: 700;
    line-height: 1.2;
    margin: 15px 0;
}
.gradient-text-orange{
   color: #ff4d00;
}
.text p{
    font-size: 15px;
    color: #ebf0ff;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 2.25rem;
}

.text a{
    display: inline-block;
    color: #ebf0ff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    justify-content: space-between;
    padding: 12px 30px;
    border-radius: 3.5px;
    background-color: #ff4d00;
}
.text .btn{
    margin-left: 20px;
}
.main-img{
    position: relative;
    width: 100%;
    height: auto;
}
.main-img img{
    max-width: 100%;
    width: 500px;
    height: auto;
    animation-name: slide;
    animation-duration: 4s;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* responsive wala kaam */

@media (max-width:1315px) {
    header{
        padding: 25px 4%;
        transition: .3s;
    }
    section{
        padding: 0 4%;
        transition: .3s;
    }

}

@media (max-width:1195px) {
    /* header{
      padding: 23px 2%;
      transition: .3s;
    } */
    .text h1{
        font-size: 50px;
        transition: .3s;
    }
    .text h5{
        font-size: 15px;
        transition: .3s;
    }
    .text p{
        font-size: 10px;
        transition: .3s;
    }
    .main-img img{
        max-width: 100%;
        width: 400px;
        height: auto;
        transition: .3s;
    }
    /* section{
      padding: 0;
      transition: .2s;
    } */
    
}
@media (max-width:1055px) {
   .main{
    grid-template-columns: 1fr;
    height: 100%;
       width: 117%;
   }
   .text{
    padding-top: 100px;
    text-align: center;
   }
   .main-img{
    text-align: center;
   }
}

@media (max-width:945px) {
    #menu-icon{
        display: block;
    }
    .navmenu{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 300px;
        padding: 40px;
        background-color: black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 10px 0;
        transition: all .42s;
    }
    .navmenu a:hover{
        transform: translateY(-5px);
    }
    .navmenu.open{
        left:0 ;
    }
}
